/* RWD Phone size min 280px */
/* .bg-video-wrap{
    width: 100%;
} */

html{
    font-size: 10px;
}

.container{
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.row{
    display: flex;
}

/* PHONE SIZE NAV SECTION */
.nav-container{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.nav-row{
    justify-content: space-between;
    align-items: center;
}

/* PHONE SIZE NAV SECTION - logo */
.nav-col-logo{
    /* width: 15%; */
}

.nav-logo-wrap{
    width: 15%;
}

.nav-logo-wrap img{
    width: 100%;
}


/* PHONE SIZE NAV SECTION - menu */
.nav-col-btn{
    /* width: 15%; */
}

.nav-col-btn-menu{
}

.nav-col-btn-menu-img-wrap{
    width: 100%;
}

.nav-col-btn-menu-img-wrap img{
    width: 100%;
}

.nav-col-btn ul{
    display: none;
}