/* RWD Phone size min 280px */
/* .bg-video-wrap{
    width: 100%;
} */

*{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-weight: lighter;
    letter-spacing: .3rem;
    line-height: 2;
    color: #fff;
}

body{
    background: #41342b;
}

a{
    color: #fff;
    text-decoration: none;
}

.container{
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.row{
    display: flex;
}

/* PHONE SIZE NAV SECTION */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.nav-container{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.nav-row{
    justify-content: space-between;
    align-items: center;
}

/* PHONE SIZE NAV SECTION - logo */
.nav-col-logo{
    /* width: 15%; */
}

.nav-logo-wrap{
    width: 13%;
}

.nav-logo-wrap img{
    width: 100%;
}


/* PHONE SIZE NAV SECTION - menu */
.nav-col-btn{
    /* width: 15%; */
}

.nav-col-btn-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-col-btn-menu-img-wrap{
    width: 40%;
}

.nav-col-btn-menu-img-wrap img{
    width: 100%;
}

.nav-col-btn-menu-p {
    margin-top: .5rem;
    text-indent: .5rem;
}

.nav-col-btn ul{
    display: none;
}

/* PHONE SIZE BLANK SECTION */
.herosection    {
    background-image: linear-gradient(110deg, #6d311d 22%, #664a29 55%, #41342b 90%);
    width: 100%;
    overflow: hidden;
}

.herosection-blankbg    {
    height: 35vh;
}

.herosection-bigpicture {
    height: 45vh;
    position: relative;
}

.herosection-img-wrap{
    height: 100%;
}

.herosection-img-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.herosection-solgan{
    display: flex;
    position: absolute;
    top: 0%;
    left: 20%;
    transform: translateY(-45%);
}

.herosection-solgan h2{
    writing-mode: vertical-rl;
    font-size: 1.6rem;
    line-height: 2;
    font-weight: normal;
}

/* PHONE SIZE STORY SECTION */
.storysection{
    background-image: linear-gradient(290deg, #6d311d 22%, #664a29 53%, #41342b 88%);
}

.storysection-container{
    padding: 12rem 0 8rem 4rem;
}

.storysection-row{
    flex-wrap: wrap;
}

.storysection-col{
    width: 100%;
}

.storysection-txt h2 {
    font-size: 1.6rem;
    line-height: 2;
    word-break: keep-all;
    margin-bottom: 8rem;
}

.storysection-txt h2:nth-child(2){
    font-weight: normal;
}

.storysection-txt h2:nth-child(1){
    position: relative;
}

.storysection-txt h2:nth-child(1)::after {
    content: '';
    display: block;
    width: 16px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.65);
    margin-top: 1rem;
    position: absolute;
}

.storysection-col:nth-child(2){
    display: flex;
    justify-content: flex-end;
}

.storysection-img-wrap{
    width: 75%;
}
.storysection-img-wrap img{
    width: 100%;
}

/* PHONE SIZE STORYSECTION 2 */
.storysection-2-container   {
    
}

.storysection-2-row{
    flex-wrap: wrap;
}

.storysection-2-col {
    width: 100%;
}

.storysection-video{
    width: 100%;
    height: 50vh;
    position: relative;
}

.storysection-video-wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.storysection-video-wrap iframe{
    width: 150%;
    height: 100%;
}

.storysection-video p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-weight: normal;
}

.storysection-blankbg {
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(rgba(65, 52, 43, 0), #41342b);
}

.storysection-2-imgsec {
    /* background-image: linear-gradient(rgba(65, 52, 43, 0) 5%, rgba(65, 52, 43, 0.9) 36%); */
    background: linear-gradient(0deg, rgba(65, 52, 43, 0.8) 40%, #41342b 90%);
}

.storysection-2-img-wrap{
    width: 70%;
}

.storysection-2-img-wrap img{
    width: 100%;
}

.storysection-2-wordsec{
    position: relative;
    background: linear-gradient(0deg, rgba(65, 52, 43, 0) 40%, #41342b 90%);
}

.storysection-2-word{
    padding: 8rem 0 8rem 4rem;
}

.storysection-2-wordsec p{
    font-size: 1rem;
    line-height: 2;
    word-break: keep-all;
    margin-bottom: 4rem;
}

.storysection-2-wordsec::before{
    content: '';
    display: block;
    background-image: url("https://storage.googleapis.com/studio-design-asset-files/projects/v7qG3XdrqL/s-2400x1600_v-frms_webp_53b6576d-1bc5-4e3a-9cd1-2365ad0accaa.webp");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: .1;
}

/* PHONE SIZE SWEET SECTION */
.sweetsection-title {
    background-image: linear-gradient(110deg, #6d311d 22%, #664a29 55%, #41342b 90%);
}

.sweetsection-title-container{
    padding: 8rem 0 4rem 4rem;
}

.sweetsection-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sweetsection-title-col h2{
    font-size: 1.6rem;
    line-height: 2;
    word-break: keep-all;
    margin-bottom: 4rem;
}

.sweetsection-title-col:nth-child(2) h2{
    font-weight: normal;
}

.sweetsection-title-col:nth-child(1) h2{
    position: relative;
}

.sweetsection-title-col:nth-child(1) h2::after {
    content: '';
    display: block;
    width: 16px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.65);
    margin-top: 1rem;
    position: absolute;
}

.sweetsection-crepetitle-img-col{
    width: 100%;
    height: 45vh;
}

.sweetsection-crepetitle-img-wrap{
    width: 100%;
    height: 100%;
}

.sweetsection-crepetitle-img-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sweetsection-crepetitle-col{
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    
}

.sweetsection-crepetitle h3{
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
}

.sweetsection-crepeimg-col {
    width: 80%;
    padding-bottom: 4rem;
}

.sweetsection-crepetxt-col{
    width: 80%;
    padding-bottom: 8rem;
}

.sweetsection-crepetxt-img-wrap {
    width: 100%;
}

.sweetsection-crepetxt-img-wrap img{
    width: 100%;
}

.sweetsection-crepetxt{
    margin-top: 2rem;
    line-height: 2;
}

.sweetsection-pufftitle-col{
    width: 100%;
}

.sweetsection-pufftitle-bg{
    width: 100%;
    position: relative;
    z-index: -1;
}

.sweetsection-pufftitle-bgc{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-image: url(https://storage.googleapis.com/studio-design-asset-files/projects/v7qG3XdrqL/s-2400x1600_v-frms_webp_b2d7a0f7-3c5c-4c76-938f-8c579bf31dfc_middle.webp);
    background-position: center bottom;
    background-size: cover;
    filter: grayscale(1);
    opacity: 0.2;
}

.sweetsection-pufftitle-bglinear{
    position: absolute;
    top: 60%;
    width: 100%;
    height: 40%;
    background: linear-gradient(0deg, #41342b, rgba(65, 52, 43, 0));
}

.sweetsection-pufftitle-txt{
    width: 100%;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 20rem;
    font-size: 1.6rem;
    font-weight: normal;
}

.sweetsection-row-puff-special{
    margin-top: -10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sweetsection-puff-col{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.sweetsection-puff-col-img-wrap{
    width: 100%;
}

.sweetsection-puff-col-img-wrap img{
    width: 100%;
}

.sweetsection-puff-col-title{
    width: 100%;
    font-size: 1.6rem;
    font-weight: normal;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.sweetsection-puff-col-txt{
    flex-grow: 1;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 2;
}

/* PHONE SIZE DRINK SECTION */
.drinksection{

}

.drinksection-title {
    background-image: linear-gradient(110deg, #6d311d 22%, #664a29 55%, #41342b 90%);
}

.drinksection-title-container{
    padding: 8rem 0 4rem 4rem;
}

.drinksection-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.drinksection-title-col h2{
    font-size: 1.6rem;
    line-height: 2;
    word-break: keep-all;
    margin-bottom: 4rem;
}

.drinksection-title-col:nth-child(2) h2{
    font-weight: normal;
}

.drinksection-title-col:nth-child(1) h2{
    position: relative;
}

.drinksection-title-col:nth-child(1) h2::after {
    content: '';
    display: block;
    width: 16px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.65);
    margin-top: 1rem;
    position: absolute;
}

.drinksection-coffeetitle-img-col{
    width: 100%;
    height: 45vh;
}

.drinksection-coffeetitle-img-wrap{
    width: 100%;
    height: 100%;
}

.drinksection-coffeetitle-img-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.drinksection-coffeetitle-col{
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    
}

.drinksection-coffeetitle h3{
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
}

.drinksection-coffeeimg-col {
    width: 80%;
    padding-bottom: 4rem;
}

.drinksection-coffeetxt-col{
    width: 80%;
    padding-bottom: 8rem;
}

.drinksection-coffeetxt-img-wrap {
    width: 100%;
}

.drinksection-coffeetxt-img-wrap img{
    width: 100%;
}

.drinksection-coffeetxt{
    margin-top: 2rem;
    line-height: 2;
}

.drinksection-coffee-col{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.drinksection-coffee-col-img-wrap{
    width: 100%;
}

.drinksection-coffee-col-img-wrap img{
    width: 100%;
}

.drinksection-coffee-col-title{
    width: 100%;
    font-size: 1.6rem;
    font-weight: normal;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.drinksection-coffee-col-txt{
    flex-grow: 1;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 2;
}
/* =========== */
.drinksection-teatitle-img-col{
    width: 100%;
    height: 45vh;
}

.drinksection-teatitle-img-wrap{
    width: 100%;
    height: 100%;
}

.drinksection-teatitle-img-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.drinksection-teatitle-col{
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    
}

.drinksection-teatitle h3{
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
}

.drinksection-teaimg-col {
    width: 80%;
    padding-bottom: 4rem;
}

.drinksection-teatxt-col{
    width: 80%;
    padding-bottom: 8rem;
}

.drinksection-teatxt-img-wrap {
    width: 100%;
}

.drinksection-teatxt-img-wrap img{
    width: 100%;
}

.drinksection-teatxt{
    margin-top: 2rem;
    line-height: 2;
}

.drinksection-tea-col{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.drinksection-tea-col-img-wrap{
    width: 100%;
}

.drinksection-tea-col-img-wrap img{
    width: 100%;
}

.drinksection-tea-col-title{
    width: 100%;
    font-size: 1.6rem;
    font-weight: normal;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.drinksection-tea-col-txt{
    flex-grow: 1;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 2;
}

/* PHONE SIZE SERVICE SECTION */
.servicesection{

}

.servicesection-titlewrap-container{
    width: 100%;
    height: 50vh;
    position: relative;
}

.servicesection-title-bg{
    width: 100%;
    height: 100%;
    background-image: url(../imgs/s-2400x1601_v-frms_webp_a52cbdc6-94cb-43e7-8e48-416ceb9768bf.webp);
    background-position: center;
    background-size: cover;
}

.servicesection-title-top{
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%;
    background-image: linear-gradient(0deg, rgba(65, 52, 43, 0.9), #41342b); 
}

.servicesection-title-bottom{
    position: absolute;
    top: 75%;
    width: 100%;
    height: 25%;
    background-image: linear-gradient(0deg, #000000, rgba(0, 0, 0, 0));
}

.servicesection-title-container{
    position: absolute;
    top: 75%;
    width: 100%;
    overflow: auto;
    padding: 0rem 0 4rem 4rem;
}

.servicesection-title-col h2{
    font-size: 1.6rem;
    line-height: 2;
    word-break: keep-all;
    margin-bottom: 4rem;
}

.servicesection-title-col:nth-child(2) h2{
    font-weight: normal;
}

.servicesection-title-col:nth-child(1) h2{
    position: relative;
}

.servicesection-title-col:nth-child(1) h2::after {
    content: '';
    display: block;
    width: 16px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.65);
    margin-top: 1rem;
    position: absolute;
}

.servicesection-bg {
    background-color: #000000;
    padding-top: 8rem;
}

.servicesection-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.servicesection-space-col{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.servicesection-space-col-img-wrap{
    width: 100%;
}

.servicesection-space-col-img-wrap img{
    width: 100%;
}

.servicesection-space-col-title{
    width: 100%;
    font-size: 1.6rem;
    font-weight: normal;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.servicesection-space-col-txt{
    flex-grow: 1;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 2;
}

.servicesection-footer{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicesection-footer-bg{
    width: 150%;
    flex-shrink: 0;
}

.servicesection-footer-bg img{
    width: 100%;
}

/* PHONE SIZE CONTACT SECTION */
.contactsection{

}

.contactsection-title {
    background-image: linear-gradient(110deg, #6d311d 22%, #664a29 55%, #41342b 90%);
}

.contactsection-title-container{
    padding: 8rem 4rem 4rem 4rem;
}

.contactsection-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contactsection-title-col{
    width: 100%;
}

.contactsection-title-col h2{
    font-size: 1.6rem;
    line-height: 2;
    word-break: keep-all;
    margin-bottom: 4rem;
}

.contactsection-title-col:nth-child(2) h2{
    font-weight: normal;
}

.contactsection-title-col:nth-child(1) h2{
    position: relative;
}

.contactsection-title-col:nth-child(1) h2::after {
    content: '';
    display: block;
    width: 16px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.65);
    margin-top: 1rem;
    position: absolute;
}

.contactsection-title-col:nth-child(4), .contactsection-title-col:nth-child(6){
    font-size: 1rem;
    line-height: 2;
    word-break: keep-all;
    margin-bottom: 4rem;
    margin-left: 4rem;
}

.contactsection-title-col:nth-child(4) a, .contactsection-title-col:nth-child(6) a{
    line-height: 2;
    border-bottom: 1px white solid;
}

.contactsection-info-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contactsection-info-col{
    width: 100%;
}

.contactsection-info-img-wrap{
    width: 100%;
    padding-right: 20%;
}

.contactsection-info-img-wrap img{
    width: 100%;
}

.contactsection-info-col:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactsection-info-ig{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding: 8rem 0 8rem 0;
    font-size: 1.8rem;
    font-weight: normal;
}

.contactsection-info-ig p{
    text-align: center;
    margin-bottom: 4rem;
    line-height: 2;
}

.contactsection-info-ig a{
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    border-radius: 5px;
    border: 1px rgba(255, 255, 255, 0.7) solid;
    color: rgba(255, 255, 255, 0.7);
    transition: .3s;
}

.contactsection-info-ig a i{
    color: white;
    transition: .3s;
}

.contactsection-info-ig a:hover{
    color: #41342b;
    background-color: #fff;
}

.contactsection-info-ig a:hover i{
    color: #41342b;
}

/* PHONE SIZE FOOTER */
.footer-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-img{
    width: 8%;
    margin-bottom: 1rem;
}

.footer-img img{
    width: 100%;
}

.footer-row p{
    font-size: 1.6rem;
    line-height: 2;
}

.footer-row h6{
    font-size: 1rem;
    line-height: 2;
    margin-bottom: 2rem;
}